.welcomeWrapper {
min-height: 750px;
padding: 0px 5px;
}


/* .radioWrapper {
    display: flex;
    justify-content: space-around;
} */


.inputWrapper input {
    border: none;
    background: transparent;
    background-color: rgba(252, 252, 252, 0.979);
    padding: 12px 5px;
}
  
.inputWrapper {
    border: 1px solid rgba(247, 240, 240, 0.979);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
}

.inputWrapper .iconWrapper {
    display: flex;
    align-items: center;
}

.iconWrapper img {
    height: 25px;
    width: 25px;
}

.errorText {
    color: rgb(213 66 66);
    font-weight: 800;
}

.socialButton button {
    background-color: #e4f3ff;

}