.welcomeWrapper {
    display: flex;
    flex-direction: column;
    /* border: 3px solid black; */
    padding: 30px;
    box-shadow: 0px 0px 12px 6px lightgrey;
    border-top-left-radius: 20px;
}


.radioWrapper {
    display: flex;
    justify-content: space-around;
}

